* {
	margin: 0;
	padding: 0;
	outline: 0;
}

.topBar {
	min-height: 40px;
	height: auto;
	background: #252525;
	color: #a7a7a7;
}

i {
	margin-top: 10px;
}

ul li {
	list-style-type: none;
}

.topBar ul li a {
	color: #ffffff;
	transition: all 0.3s ease-in-out;
}

.topBar ul li a:hover, .topBar ul li a:focus {
	opacity: 40%;
}

.topBar ul.pull-right li:nth-child(2) .dropdown-menu {
	width: 350px;
	margin: 0;
	padding: 10px 15px;
	border-radius: 0;
}

#searchBox {
	box-shadow: none;
	border-radius: 0;
}

#searchButton {
	background-color: #47bac1;
}

.navbar-default {
    background-color: #ffffff;
    margin-bottom: 0;
    border: none;
}

.navbar-brand img
{
	width:40px;
}